.nigger{
    width: 280px;
    height: 380px;
    background-color: black;
}

.update{
    width: 80%;
    height: 50px;
    margin-top: 10px;
    outline: none;
    transition: .5s;
    cursor: pointer;
}

.update:hover{
    background-color: rgb(94, 94, 94);
    color: #fff;
    border: 1px solid black;
}