body{
    width: 100%;
    height: 100vh;
    background-color: red;
}

.container{
    width: 100px;
    height: 100px;
    background-color: black;
}

.count1{
    width: 200px;
    height: 50px;
}
.count2{
    width: 200px;
    height: 50px;
}

.c1{
    width: 200px;
    height: 50px;
    background-color: #fff;
}

.c2{
    width: 200px;
    height: 50px;
    background-color: #7f3131;
}